footer {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer > p {
  font-size: 0.8rem;
}

footer > p > a {
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  font-size: 0.8rem;
  color: black;
}

footer > p > a:hover {
  text-decoration: underline;
}

footer > p > a:visited {
  color: black;
}
